.clearfic{
		content: " ";
		display: block;
		clear: both;
	}

//定义变量
	$font-color: #2d7bf6;//字体颜色
	$font-size: 30upx;//字体大小
	$navtop-color: #00b4ff;//顶部导航条背景颜色
	$button-color: #00b4ff;;//按钮颜色
	$bg:#ccdfee;
//公用样式
//nav顶部的div
	.app_top{
		width: 100%;
		height: 160upx;
		
	}
	
	
	//navbar顶部导航条（头像、定位）
	.navtop{
		position: fixed;
		top: 0;
		width: 100%;
		height: 160upx;
		overflow: hidden;
		background-color: $navtop-color;
		color: #fff;
		z-index: 200;
		.top{
			height: 60upx;
		}
		.navtop_head{
			width: 20%;
			height: 100upx;
			display: inline-block;
			float: left;
			text-align: center;
			image{
				width: 90upx;
				height: 90upx;
				margin: 0 0 5upx 0;
				border-radius: 50%;
				border: 5upx solid white;
			}
		}
		.navtop_location{
			width: 40%;
			height: 100upx;
			display: inline-block;
			float: right;
			vertical-align: middle;
			overflow: hidden;
			white-space: nowrap;
			image{
				width: 50upx;
				margin-top: 3%;
				vertical-align: middle;
			}
			.location_textc{
				width: 80%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: inline-block;
				vertical-align: bottom;
				text{
					float: right;
				}
			}
		}
	}
	
	
	//普通顶部导航条（只有title、返回）
	.normal_nav{
		position: fixed;
		top: 0;
		width: 100%;
		height: 160upx;
		white-space: nowrap;
		background-color: $navtop-color;
		color: #fff;
		z-index: 100;
		.top{
			height: 60upx;
		}
		.left{
			display: inline-block;
			width: 90upx;
			height: 90upx;
			text-align: center;
			line-height: 90upx;
			float: left;
		}
		.title{
			display: inline-block;
			width: 74%;
			height: 90upx;
			text-align: center;
			line-height: 90upx;
			float: left;
		}
		.right{
			display: inline-block;
			width: 90upx;
			height: 90upx;
			text-align: center;
			line-height: 90upx;
			float: left;
		}
	}

	//图标列表样式
	.icon_container{
		display: inline-block;
		width: 15%;
		margin: 5% 5% 0 5%;
		text-align: center;
		image{
			width: 100%;
		}
		text{
			font-size: 25upx;
		}
	}
	
	
	
	//form表单通用样式
	.basic_container{  //基础表单容器样式
		width: 100%;
		min-height: 80upx;
		line-height: 80upx;
		overflow: hidden;
		white-space: nowrap;
		text{
			font-size: 30upx;
		}
		.basic_title{  //表单标题基础样式
			width: 20%;
			height: 80upx;
			display: inline-block;
			margin-left: 2%;
			float: left;
			color: #666;
		}
		.basic_titleblod{
			width: 20%;
			height: 80upx;
			display: inline-block;
			margin-left: 2%;
			float: left;
			color: #333;
			font-weight: 500;
		}
		.basic_content{  //表单显示内容基础样式
			display: inline-block;
			width: 60%;
			height: 80upx;
			overflow: hidden;
			white-space: nowrap;
			margin-left: 2%;
			text-overflow:ellipsis;
			line-height: 80upx;
		}
		.basic_contentb{  //表单显示内容基础样式
			display: inline-block;
			width: 60%;
			height: 80upx;
			overflow: hidden;
			white-space: nowrap;
			margin-left: 2%;
			text-overflow:ellipsis;
			line-height: 80upx;
			font-weight: 800;
		}
		.basic_content2{
			margin-top: 20upx;
			display: inline-block;
			width: 60%;
			white-space: normal; 
			min-height: 80upx;
			overflow: inherit;
			line-height: 40upx; 
			font-size: 30upx; 
			color: #333;
			margin-left: 2%;
		}
		.basic_input{  //表单输入框基础样式
			display: inline-block;
			background-color: #fff;
			width: 60%;
			height: 50upx;
			margin: 15upx 0 15upx 5%;
			border: 1px solid #ddd;
			border-radius: 10upx;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.basic_radio{
			width: 65%;
			white-space: nowrap;
			.radio_option{
				display: inline-block;
				margin-left: 20%;
			}
			
		}
		.basic_picker{  //下拉框基础样式
			display: inline-block;
			width: 60%;
			height: 50upx;
			font-size: 30upx;
			margin: 15upx 0 15upx 5%;
			line-height: 50upx;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 10upx;
			text-indent: 2%;
			.arrow{
				position: relative;
				float: right;
				top: 5upx;
				display: inline-block;
				width: 40upx;
				height: 40upx;
				overflow: hidden;
				margin-top: 3%;
				margin-right: 2%;
			}
		}
		
		
	}
	.basic_headline{  //页面内黑色大标题
		width: 100%;
		height: 80upx;
		line-height: 80upx;
		font-size: 35upx;
		font-weight: bold;
		text-indent: 2%;
		margin-bottom: 2%;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		white-space: nowrap;
		color: #333;
	}
	.add_headline{  //含有添加按钮的黑色大标题
		width: 100%;
		height: 80upx;
		line-height: 80upx;
		font-size: 30upx;
		font-weight: bold;
		text-indent: 2%;
		margin-bottom: 2%;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		white-space: nowrap;
		color: #666;
		.add_button{  //添加按钮
			display: inline-block;
			background-color: $button-color;
			width: 180upx;
			height: 50upx; 
			line-height: 50upx;
			font-size: 30upx;
			text-align: center;
			float: right;
			text-indent: 0;
			margin:15upx 5% 15upx 0;
		}
	}
	.removebottomline{
		border-bottom: 0;
	}
		
		.basic_container2{  //表单多行文本、照片存放框基础样式
			width: 100%;
			.basic_title{  //独占一行的标题
				width: 100%;
				display: inline-block;
				margin: 2%;
				vertical-align: top;
				font-size: 30upx;
				color: #333;
			}
			.textarea{  //另起一行多行文本
				background-color: #fff;
				display: block;
				width: 96%;
				margin: 2% 2%;
				height: 150upx;
				border: 1px solid #ddd;
				border-radius: 10upx;
			}
			.basic_title2{  //与textarea2搭配的标题
				width: 20%;
				display: inline-block;
				margin: 2%;
				vertical-align: top;
				font-size: 30upx;
				color: #333;
			}
			.textarea2{  //在同一行的多行文本
				background-color: #fff;
				display: inline-block;
				width: 60%;
				margin: 2% 3%;
				height: 150upx;
				border: 1px solid #ddd;
				border-radius: 10upx;
			}
			.picture{
				background-color: #fff;
				width: 96%;
				margin: 2% 2%;
				height: 150upx;
				overflow: hidden;
				line-height: 150upx;
				border-radius: 20upx;
				border: 1px solid #ddd;
				.addpic{
					display: inline-block;
					width: 50upx;
					height:50upx;
					margin-left: 2%;
					.add_img{
						display: inline-block;
						width: 50upx;
						height:50upx;
						margin:50upx 0;
					}
					
				}
				.pic_container{
					display: inline-block;
					position: relative;
					width: 140upx;
					height: 150upx;
					border-radius: 10upx;
					.pic{
					display: inline-block;
					border-radius: 20upx;
					width: 66%;
					height: 66%;
					margin: 17% ;
					}
					.vde{
						display: inline-block;
						width: 66%;
						height: 66%;
						margin: 17% ;
					}
				.del{
					display: inline-block;
					position: absolute;
					left: 66%;
					top:-25%;
					width: 40upx;
					height: 40upx;
					z-index: 5;
					.del_img{
						display: inline-block;
						width: 40upx;
						height: 40upx;
					}
					
				}
				}
				
			}
			.pic_nochange{
				widows: 100%;
				height: 150upx;
				margin: 2%;
				border: 1px solid #ddd;
				border-radius: 10upx;
				.nochange_img{
					display: inline-block;
					margin: 25upx 0 25upx 36upx;
					width: 100upx;
					height: 100upx;
					border-radius: 20upx;
				}
			}
			.b{
				width: 100%;
				height: 100upx;
			}
		}
		//检查依据、标准规范、查验声明
		.basic_container3{
			width: 100%;
			height: 300upx;
		}
	
	
	//搜索框
	.search_cont{
		display: inline-block;
		height: 60upx;
		margin-left: 2%;
		margin-top: 2%;
		width: 80%;
		white-space: nowrap;
		.search{
		display: inline-block;
		width: 100%;
		background-color: #fff;
		height: 60upx;
		vertical-align: bottom;
		font-size: 30upx;
		border-bottom: 1px #ddd solid;
		border-top: 1px #ddd solid;
	}
	.search_left{
		display: inline-block;
		vertical-align: bottom;
		background-color: #fff;
		width: 60upx;
		height: 60upx;
		border-radius: 50% 0 0 50%;
		border-top: #ddd solid 1px;
		border-left: #ddd solid 1px;
		border-bottom: #ddd solid 1px;
		.search_icon{
			position: relative;
			top:10upx;
			left: 10upx;
			width: 40upx;
			height: 40upx;
		}
	}
	.search_right{
		display: inline-block;
		background-color: #fff;
		width: 60upx;
		height: 60upx;
		vertical-align: bottom;
		border-radius: 0 50% 50% 0;
		border-top: #ddd solid 1px;
		border-right: #ddd solid 1px;
		border-bottom: #ddd solid 1px;
	}
	}
	
	.load_bottom{
		height: 15vh;
		width: 100%;
		text-align: center;
		color: #999;
	}
	
	

/////////////////////////////////
	//任务提醒
	// .remind_container{
	// 	width: 100%;
	// 	.task{
	// 		width: 96%;
	// 		height: 180upx;
	// 		margin: 2% 2% 0 2%;
	// 		border: 1px solid black;
	// 		border-radius: 10upx;
	// 		view{
	// 			height: 25%;
	// 			font-size: 35upx;
	// 			overflow: hidden;
	// 			text-overflow: ellipsis;
	// 			white-space: nowrap;
	// 			vertical-align: top;
	// 		}
	// 		.details{
	// 			border-top: 1px solid black;
	// 			font-size: 30upx;
	// 			position: relative;
	// 			.gt{
	// 				position: absolute;
	// 				right: 0;
	// 				top: -12upx;
	// 				display: inline-block;
	// 				width: 40upx;
	// 				height: 100%;
	// 				font-size: 40upx;
	// 				color: #C0C0C0;
	// 				float: right;
	// 				float: top;
	// 				margin-right: 2%;
	// 				vertical-align: top;
	// 			}
	// 		}
	// 	}
	// }
	
	
	//任务详情
	// .remind_details{
	// 	width: 100%;
	// 	view{
	// 		margin-left: 5%;
	// 		height: 60upx;
	// 		margin-top: 2%;
	// 		overflow: hidden;
	// 		text-overflow: ellipsis;
	// 		white-space: nowrap;
	// 	}
		
	// }


	//个人信息
	.bi_container{
		.basic_container{
			margin-bottom: 2%;
			border-bottom: 1px solid #ddd;
			input{
				border: 0;
			}
		}
	}
	
	
	//登记问题页面
	.takenotes_container{
		width: 100%;
	}
		
		
	//反馈
    .feedback_container{
		width: 100%;
		padding-bottom: 2%;
		.textarea{
			height: 300upx;
		}
	}
	
	
	//复检页面
	.recheck_comtainer{
		width: 100%;
	}
	// .scc{
	// 	width: 100%;
	// }
		
	
	
	//搜索页面
	.search_container{
		margin-top: 60upx;
		width: 100%;
		min-height: 1280upx;
		
	}
	.search_nav{
		position: fixed;
		top: 0;
		width: 100%;
		height: 160upx;
		white-space: nowrap;
		background-color: $navtop-color;
		.top{
			height: 60upx;
		}
		.back{
			display: inline-block;
			width: 90upx;
			height: 90upx;
			float: left;
			line-height: 90upx;
			text-align: center;
			color: #fff;
		}
		.searchnav_container{
			display: inline-block;
			width: 65%;
			float: left;
		}
		.search_button{
			display: inline-block;
			width: 90upx;
			height: 90upx;
			float: left;
			margin-left: 7%;
			line-height: 90upx;
			text-align: center;
			color: #fff;
		}
	}
	.search_content{
		width: 100%;
		height: 180upx;
		border-bottom: 1px solid #ddd;
		
		.developer{
			margin-top: 1%;
			font-size: 30upx;
			text-indent: 20upx;
			color: #333;
		}
		.householder{
			display: inline-block;
			font-size: 30upx;
			width: 25%;
			float: left;
			color: #666;
			text-indent: 20upx;
		}
		.address{
			display: inline-block;
			width: 75%;
			font-size: 30upx;
			float: left;
			overflow: hidden;
			white-space: nowrap;
			color: #666;
			text-overflow: ellipsis;
		}
		.checkitem{
			display: inline-block;
			font-size: 28upx;
			width: 25%;
			float: left;
			text-indent: 20upx;
			color: #999;
		}
		.problem_content{
			display: inline-block;
			width: 75%;
			font-size: 30upx;
			float: left;
			color: #999;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.date{
			display: inline-block;
			font-size: 28upx;
			width: 25%;
			float: left;
			text-indent: 20upx;
			color: #999;
		}
		.time{
			display: inline-block;
			width: 75%;
			font-size: 30upx;
			float: left;
			color: #999;
		}
	}
	
	
	//详情-每套房子问题筛选页面
	.details_content1{
		.picker_container{ 
			height: 50upx;
			white-space: nowrap;
			.picker{
				display: inline-block;
				width: 30%;
				float: left;
				border: #ddd 1px solid;
				border-radius: 10upx;
				margin: 1.3%;
				color: #00B4FF;
				.arrow{
					position: relative;
					float: right;
					top: 5upx;
					display: inline-block;
					width: 40upx;
					height: 40upx;
					overflow: hidden;
					margin-top: 8%;
					margin-right: 2%;
				}
			}
		}
		.newly_problem{
			width: 100%;
			.newly_botton{
				display: inline-block;
				width: 70%;
				margin: 2% 15% 2% 15%;
				border: #ddd 1px solid;
				color: #666;
				border-radius: 50upx;
				text-align: center;
			}
		
		}
		.img_container{
			margin-bottom: 2%;
			.img{
				display: block;
				width: 90%;
				margin: 0 5% 0 5%;
			}
		}
		
		.problemlist{
			width: 100%;
			height: 560upx;
			overflow: hidden;
			.problem:first-child{
				border-top: #ddd 1px solid;
			}
			.problem{
				width: 100%;
				height: 140upx;
				border-bottom: #ddd 1px solid;
				.color{
					display: inline-block;
					float: left;
					width: 15upx;
					height: 35upx;
					margin-top: 1%;
					margin-left: 5%;
				}
				.color_red{
					background-color: #eb3226;
				}
				.color_green{
					background-color: #a5d255;
				}
				.main_item{
					float: left;
					display: inline-block;
					width: 70%;
					color: #333;
					text-indent: 18upx;
					font-size: 35upx;
				}
				.problem_content{
					display: inline-block;
					float: left;
					width: 70%;
					text-indent: 70upx;
					font-size: 30upx;
					color: #999;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.date{
					display: inline-block;
					width: 70%;
					float: left;
					text-indent: 70upx;
					font-size: 30upx;
					color: #999;
				}
				.sate{
					display: inline-block;
					font-size: 35upx;
					width: 30%;
					height: 140upx;
					text-align: center;
					line-height: 140upx;
					position: relative;
					right: 0upx;
					top:0upx;
					text{
						margin-left: 5upx;
					}
					.dot{
						display: inline-block;
						width: 28upx;
						height: 28upx;
						border-radius: 50%;
					}
				}
			}
		}
		.progress_container{
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			.progress{
				width: 90%;
				margin: 0 5%; 
				
				.text{ 
					font-size: 35upx; 
				}
			}
		}
		
	}
	
	
	//整改情况页面
	// .pr_problemdetails{
	// 	width: 100%;
	// 	.rectification{
	// 		width: 100%;
	// 		height: 80upx;
	// 		border-top: 1px solid black;
	// 		line-height: 80upx;
	// 		.color{
	// 			display: inline-block;
	// 			height: 50upx;
	// 			width: 10upx;
	// 			margin: 15upx 0 15upx 2%;
	// 		}
	// 		.color_red{
	// 			background-color: #eb3226;
	// 		}
	// 		.color_green{
	// 			background-color: #a5d255;
	// 		}
	// 		text{
	// 			display: inline-block;
	// 			margin-left: 2%;
	// 			vertical-align: top;
	// 		}
	// 	}
	// 	.line{
	// 		border-top: 1px solid black;
	// 	}
	// 	.pr_button{
	// 		height: 130upx;
	// 		background-color: #fff;
	// 		white-space: nowrap;
	// 		.fail{
	// 			display: inline-block;
	// 			height: 90upx;
	// 			width: 40%;
	// 			text-align: center;
	// 			line-height: 90upx;
	// 			border: 1px solid #DDD;
	// 			margin: 20upx 5%;
	// 			border-radius: 10upx;
	// 			color: red;
	// 		}
	// 		.pass{
	// 			display: inline-block;
	// 			height: 90upx;
	// 			width: 40%;
	// 			text-align: center;
	// 			line-height: 90upx;
	// 			border: 1px solid #DDD;
	// 			margin: 20upx 5%;
	// 			border-radius: 10upx;
	// 			color: #FFFFFF;
	// 			background-color: $button-color;
	// 		}
	// 	}
	// }
	
	//不合格页面
	.fail_container{
		padding-bottom: 2%;
	}
	
	
	//复查-问题列表
	
	
	
//房产查验
.property_inspection{
	width: 100%;
	.developer{
		height: 150upx;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		.developer_icon{
			display: inline-block;
			width: 100upx;
			height: 100upx;
			margin: 25upx 5% 25upx 5%;
			float: left;
			
		}
		.developer_name{
			display: inline-block;
			float: left;
			font-size: 50upx;
			margin: 45upx 0 55upx 0;
		}
	}
}


	//developer(套用公共格式)
	
	
	//模拟验房
	
	
	
	//楼房整改状态
	.states{
		width: 100%;
		height: 100upx;
		// border-bottom: 1px solid #ddd;
		// border-top: 1px solid #ddd;
		white-space: nowrap;
		overflow: hidden;
		.state:first-child{
			border-left: 0;
		}
		.state:first-child{
			border-right: 1px solid #ddd;
		}
		.state{
			display: inline-block;
			width: 20%;
			height: 100upx;
			vertical-align: top;
			// border-left: 1px solid #ddd;
			view{
				height: 50upx;
				text-align: center;
			}
		}
	}
	.storeys{ 
		width: 100%;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		.storey{
			height: 60upx;
			font-size: 35upx;
			line-height: 60upx;
			text-indent: 2%;
		}
		.number_container{
			// height: 100upx;
			font-size: 35upx;
			padding-bottom: 20upx;
			.storey_number{
				display: inline-block;
				width: 20%;
				line-height: 60upx;
				text-align: center;
				height: 60upx;
				margin-left: 4%;
				margin-top: 20upx;
				border: 1px solid #ddd;
				border-radius: 10upx;
				background-color: #fff;
			}
		    .undelivered{  //未交付
				background-color: #fff;
				color: #333;
			}
			.nochange{  //待整改
				background-color: #ed5d68;
				color: #fff;
			}
			.changed{  //已整改
				background-color: #a5d457;
				color: #fff;
			}
			.delivered{  //已交付
				background-color: #f3ae3e;
				color: #fff;
			}
		}
	}
	
	
	
	
	
	
	//专项检测
	.specialitem_container{
		padding-top: 2%;
		.basic_input{
			margin: 18upx 20upx;
			border: 0;
		}
		.basic_container{
			border-bottom: 1px solid #ddd;
		}.basic_container2{
			border-bottom: 1px solid #ddd;
		}
		.s{
			text-indent: 30upx;
			color: #666;
		}
		.title{
			height: 80upx;
			line-height: 80upx;
			font-size: 30upx;
			text-indent: 2%;
			border-bottom: 1px solid #ddd;
		}
	}
	
	
	//监测页面日期样式
	.date_container{
		height: 80upx;
		font-size: 35upx;
		overflow: hidden;
		white-space: nowrap;
		.basic_title{
			display: inline-block;
			margin-left: 2%;
			font-size: 35upx;
		}
		view{
			display: inline-block;
			width: 20%;
			height: 60upx;
			line-height: 60upx;
			float: left;
		}
		.date{
			// margin-top: 2%;
			background-color: #fff;
			font-size: 35upx;
			width: 30%;
			margin-left: 5%;
			text-align: center;
			border: 1px solid #ddd;
			border-radius: 50upx;
		}
		.position{
			margin-left: 3%;
		}
		.time{
			// margin-top: 2%;
			background-color: #fff;
			width: 15%;
			margin-left: 10%;
			text-align: center;
			border: 1px solid #ddd;
			border-radius: 50upx;
			
		}
	}
	

//系统设置样式
.setting{
	 height: 300upx; 
	text-align: center;
	.center{
		position: relative;
		display: inline-block;
		height: 240upx;
		width: 200upx;
		margin: 30upx 0;
		white-space: nowrap;
		text-align: center;
		image{
			width: 120upx;
			height: 120upx;
			border: 5upx solid #ddd;
			border-radius: 50%;
		}
		.name{
			font-size: 35upx;
			color: #333;
		}
		.profession{
			position: relative;
			margin: 0 auto;
			width: 700upx;
			left: -125%;
			font-size: 35upx;
			text-align: center;
			color: #808080;
		}
	}
}
.about{
	margin-top: 2%;
	height: 80upx;
	font-size: 35upx;
	line-height: 80upx;
	text-indent: 2%;
	color: #666;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	.right{
		float: right;
		font-size: 60upx;
		margin-right: 5%;
		color: #ddd;
	}
}

//关于验房APP页面
.aboutapp{
	height: 440upx;
	.icon{
		height: 220upx;
		text-align: center;
		image{
			display: inline-block;
			width: 160upx;
			height: 160upx;
			margin: 30upx 0;
		}
	}
	.version{
		font-size: 25upx;
		text-align: center;
		margin-bottom: 3%;
	}
	.explain{
		height: 220upx;
		width: 80%;
		margin: 0 10%;
		text-align: center;
		line-height: 25upx;
		.text{
			font-size: 25upx;
			
		}
	}
	
}



//个人资料
.personal{
	.basic_container{
		height: 100upx;
		line-height: 100upx;
		border-bottom: 1px solid #ddd;
	}
	.basic_title{
		font-size: 35upx;
		vertical-align: middle;
	}
	.basic_content{
		width: 66%;
		font-size: 35upx;
		text-align: right;
		vertical-align: middle;
		color: #333;
	}
	.portrait{
		display: inline-block;
		width: 90upx;
		height: 90upx;
		border-radius: 50%;
		float: right;
		margin: 5upx 3% 5upx 0;
	}
	.right{
		float: right;
		font-size: 60upx;
		margin-right: 2%;
		color: #ddd;
		
	}
}


//定位
.newlocation{
	margin-top: 2%;
	min-height: 140upx;
	.up{
		font-size: 30upx;
		color: #999;
		height: 70upx;
		line-height: 70upx;
		text-indent: 2%;
	}
	.down{
		line-height: 70upx;
		font-size: 35upx;
		color: #333;
		.img{
			display: inline-block;
			width: 50upx;
			height: 50upx;
			margin: 5upx 0 5upx 2%;
		}
		.left{
			display: inline-block;
			line-height: 70upx;
			width: 50%;
			height: 70upx;
			color: #333;
			margin-left: 2%;
			vertical-align: top;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.right{
			display: inline-block;
			float: right;
			margin-right: 2%;
			color: $button-color;
		}
		.city{
			display: inline-block;
			height: 60upx;
			width: 20%;
			line-height: 60upx;
			text-align: center;
			display: inline-block;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 15upx;
			margin: 2%;
		}
	}
}

	
	// //实测实量
	// .measure_container{
	// 	input{
	// 		border-radius: 10upx;
	// 	}
	// 	.basic_headline{
	// 		color: #00b4ff;
	// 		border-bottom: 0;
	// 		border-top: 0;
	// 		font-size: 40upx;
	// 	}
	// 	.content{
	// 		display: inline-block;
	// 		width: 100%;
	// 		padding-bottom: 2%;
	// 		line-height: 50upx;
	// 		font-size: 30upx;
	// 		white-space: nowrap;
	// 		.roomtype{
	// 			margin-left: 2%;
	// 			font-size: 35upx;
	// 			color: #333;
	// 		}
	// 		.standard{
	// 			float: right;
	// 			margin-right: 10%;
	// 			color: #333;
	// 		}
	// 		.right1{
	// 			margin-left: 78%;
	// 			color: #999;
	// 		}
	// 		.right2{
	// 			margin-left: 3%;
	// 			color: #999;
	// 		}
	// 		.data_content{
	// 			display: inline-block;
	// 			width: 75%;
	// 			.wrap{
	// 				white-space: normal;
	// 			    .manyinput{
	// 					display: inline-block;
	// 					width: 70upx;
	// 					background-color: #fff;
	// 					margin-left: 3%;
	// 					margin-top: 1%;
	// 					border: 1px solid #ddd;
	// 				}
	// 			}
	// 				.inputcontent{
	// 				width: 100%;
	// 				margin-top: 3%;
	// 				height: 60upx;
	// 				text-indent: 2%;
	// 				.inputtitle{
	// 					display: inline-block;
	// 					width: 20%;
	// 					vertical-align: top;
	// 					text{
	// 						color: #666;
	// 					}
	// 				}
	// 					.inputvalue{
	// 					display: inline-block;
	// 					width: 75%;
	// 					border: 1px solid #ddd;
						
	// 				}
	// 			}
			
	// 		}
			
	// 	}
	// 	.standard_container{
	// 		display: inline-block;
	// 			width: 20%;
	// 			height: 355upx;
	// 			margin-left: 3%;
	// 			margin-top: 2%;
	// 			vertical-align: top;
	// 			border: 1px solid #ddd;
	// 			border-radius: 10upx;
	// 			.inputstandard{
	// 			display: inline-block;
	// 			width: 85%;
	// 			margin-left: 2%;
	// 			margin-top: 155upx;
	// 	}
	// 	}
	// 	.standard_container2{
	// 		display: inline-block;
	// 		width: 23%;
	// 		margin-left: 3%;
	// 		vertical-align: top;
	// 		white-space: nowrap;
	// 		.half{
	// 			display: inline-block;
	// 			width: 50%;
	// 			vertical-align: top;
	// 			white-space: normal;
	// 			.manyinput{
	// 				display: inline-block;
	// 				width: 70upx;
	// 				background-color: #fff;
	// 				margin-top: 6%;
	// 				border: 1px solid #ddd;
	// 			}
	// 		}
	// 	}
	// }